@import '/jspm_packages/npm/purecss@0.6.0/build/base.css';
@import '/jspm_packages/npm/reflex-grid@1.0.8/css/reflex.css';
@import './modules/box.scss';
@import './utils.scss';

.l-background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: z("background");
}

.l-content {
    position: absolute;
}