@import '../../node_modules/css-reset-and-normalize-sass/css/reset-and-normalize.css';
@import './modules/box.scss';

body, html {
    margin: 100;
    padding: 0;
    position: relative;
    height: 100%;
}
