// Taken from http://codepen.io/lukewatts/pen/aGJky
@import '../../../jspm_packages/npm/compass-mixins@0.12.7/lib/_compass';
@import '../utils';

.dial {
    // Dimensions
    min-height: 11em;
    width: 11em;
    margin: 0 auto;
    @include border-radius(5.5em);

    .dial__chamfer {
        min-height: 9em;
        width: 9em;
        position: relative;
        top: 1em;
        left: 1em;
        @include border-radius(4.5em);
        @include bg-gradient(top, hsl(0, 0, 90%), hsl(0, 0, 80%));
        @include box-shadow(
            0 0 15px rgba(0, 0, 0, 0.1),
            0 6px 10px hsla(0, 0, 0%, 0.3),
            inset 0 -3px 3px hsla(0, 0, 100%, 0.2)
        ); // the inset adds the global illumination at the bottom
    }

    .dial__face {
        cursor: move;
        max-width: 8em;
        min-height: 8em;
        position: relative;
        top: 0.5em;
        left: 0.5em;
        background-color: hsl(0, 0, 90%);
        @include border-radius(4em);
        @include box-shadow(inset 0 2px 2px hsla(0, 0, 100%, 0.4));
    }

    .dial__arrow {
        width: 0;
        height: 0;
        position: relative;
        top: 1.35em;
        left: 1.35em;

        // Arrow Magic
        border-top: 0.5em solid hsl(0, 0, 50%);
        border-right: 0.5em solid transparent;
    }

    .dial__inner {
        min-height: 1.5em;
        max-width: 1.5em;
        display: block;
        z-index: 2;
        position: relative;
        top: 1em;
        left: 1.5em;
        @include bg-gradient(top, hsl(0, 0, 80%), hsl(0, 0, 95%));
        @include border-radius(0.75em);
    }

    .dial__text {
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;

        cursor: move;
        text-align: center;
        position: relative;
        top: -5.5em;
        transform: translateY(-50%);
        font-size: 0.7em;
        color: white;
        font-weight: bold;
        text-shadow: 1px 1px 3px #555;
    }

}